:root {
    --text-color: #1a1c1a;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

.dark-mode {
    --text-color: #f4f4f4;
    --link-color: #4a76ee;
    --background-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .right {
    display: flex;
    align-items: center;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .left a span {
    margin-left: 5px;
}

nav .toggle {
    margin-left: 10px;
}

#icon {
    width: 30px;
    cursor: pointer;
}

/*SECTION 1: HERO*/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text h2, p{
    color: var(--text-color);
}

.hero-section .text .link {
    margin-top: 15px;
}

.hero-section .text .link a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.hero-section .text .link a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section.headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    width: 350px;
    border-radius: 50%;
}

/*SECTION 2: SKILLS*/
.skills-section {
    pad: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
    color: var(--text-color);
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;

}

.skills-section .cells .cell span{
    font-size: 18px;
    color: var(--text-color);
}


/* SECTION 3: PROJECTS */
.projects-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.projects-section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.projects-section h4 {
    color: var(--text-color);
}

.projects-section .group {
    display: flex;
    gap: 50px;
}

.projects-section .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 50%;
}

.projects-section .card img {
    width: 100%;
}

.projects-section .card .card-container {
    padding: 2px 16px;
}

.projects-section p{
    font-size: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);;
}


/*SECTION 4: CONTACT*/
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
    color: var(--text-color);
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
    color: var(--text-color);
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    resize: none;
}

.contact-section .form {
    color: var(--text-color);
}


.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif ;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
}

footer p {
    text-align: center;
    padding: 20px;
    letter-spacing: -1px;
    font-size: 12px;
}

@media (max-width: 850px) {
    /*SECTION 1: HERO*/
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {

    /*NAVBAR*/
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /*SECTION 1: HERO*/
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img{
        width: 300px;
    }

    /* SECTION 3: PROJECTS */
    .projects-section .group {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .projects-section .card {
        width: auto;
    }


    /*SECTION 4: CONTACT*/
    .contact-section .group {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    /*NAVBAR*/
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* SECTION 3: PROJECTS */
    .projects-section .group {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .projects-section .card {
        width: auto;
    }
}

/*SECTION 1: HERO*/

.hero-section {
    padding: 0 20px;
}

.hero-section .text h2{
    font-size: 30px;
}

/*SECTION 2: SKILLS*/
.skills-section {
    padding: 0 20px;
}

.skills-section .cell span {
    font-size: 16px;
}


 /*SECTION 4: CONTACT*/
 .contact-section {
    padding: 0 20px;
 }

